.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 1em;
  margin: 0 auto;
}

header {
  display: block;
  background: #111;
  width: 100%;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
}
footer p {
  font-size: 10pt;
  color: rgb(128, 128, 128);
}

@keyframes loading-spinner {
	100% {
			transform: rotate(360deg)
	}
}

.tagline {
  color: #f4ae01;
  font-size: 10pt;
  font-weight: 300;
}