.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

main {
}

.logo {
  color: #fff;
}

@keyframes loading-spinner {
	100% {
			transform: rotate(360deg)
	}
}

.tagline {
  color: #01cbae;
  font-size: 14pt;
  font-weight: 700;
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
  } 
}