footer {
  display: block;
  background: #f0f0f0;
  width: 100%;
  padding: 1em 0;
  color: white;
}

footer nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer nav ul li {
  color: black;
  margin-right: 2em;
}
footer nav ul a {
  text-decoration: underline;
  color: black;
}

footer p {
  font-size: 10pt;
  color: rgb(128, 128, 128);
}

@media (min-width: 320px) and (max-width: 480px) {
  footer nav ul {
    flex-direction: column;
  }
}